{% extends 'base.html.twig' %}
{% block body %}
       <div class="row d-flex justify-content-center">
           <div class="col-6 pt-5">
               <h1 class="text-center">
                   {{ "Development of an automation system for accounting for the receipt and sale of goods in retail trade"|trans }}
               </h1>
           </div>
       </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 pt-5">
            <h4 class="text-center">
                {{ "Thesis"|trans }}
            </h4>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="pt-5">
            <h4 class="pt-5">
                {{ "Made by a student of the AI-185 group"|trans }}
                <br>
                {{ "Dodon Dmitriy"|trans }}
            </h4>
        </div>
    </div>
{% endblock %}