<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li class="nav-item">
        <a class="dropdown-item" aria-current="page" href="{{ path("app_product_index") }}">{{ "Get all products"|trans }}</a>
    </li>
</ul>