<style>
    . {
        margin: 0;
        padding: 0;
    }
    html,
    body {
        height: 100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .content {
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }
</style>
<div class="container">
    <div class="row pt-2 pb-2">
        <div class="col-6 d-flex justify-content-start">
            <span class="text-muted">{{ "Odessа Polytechnic National University"|trans }}</span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <span class="text-muted">{{ "now"|date("Y") ~ " " ~ "year"|trans }}</span>
        </div>
    </div>
</div>